body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.contact {
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #002d62;
  margin-left: 12px;
  margin-right: 12px;
  padding: 10px;
  position: relative;
  top: 26px;
  width: 100px;
  right: 37px;
}

p {
  font-family: Avenir, sans-serif;
  font-size: smaller;
  white-space: nowrap;
  padding: 25px;
  color: #d3d3d3;
  position: relative;
  right: 23px;
}

.logo {
  width: 1100px;
}

.canvas-logo {
  width: 175px;
  margin-top: 26px;
  padding: 10px;
  margin-left: 100px;
}

.column-sixth {
  flex-basis: calc(100% / 6);
}

.column-full {
  flex-basis: 100%;
}

.home-img {
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
  display: flex;
  height: 90vh;
  width: 100%;
  position: relative;
}

.emr {
  position: absolute;
  top: 220px;
  left: 151px;
  font-family: 'Tiempos Headline', sans-serif;
  color: #fff;
  font-size: 30px;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.home-para {
  position: absolute;
  top: 300px;
  left: 125px;
  font-family: sans-serif;
  color: white;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.started {
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #002d62;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: absolute;
  bottom: 240px;
  width: 100px;
  left: 148px;
}
